<!DOCTYPE html>
<html>
    <head>
        <title>Projeto 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border = "1">
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
            <tr th:each="usuario : ${usuariosList}">
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </table>
    </body>
</html>
